<p id="notice"><%= notice %></p>

<h1>Sales Associates</h1>


<table class="table table-bordered ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sales_associates.each do |sales_associate| %>
      <tr>
        <td><%= sales_associate.name %></td>
        <td><%= sales_associate.department %></td>
        <td><%= link_to 'Show', sales_associate %></td>
        <td><%= link_to 'Edit', edit_sales_associate_path(sales_associate) %></td>
        <td><%= link_to 'Destroy', sales_associate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%==pagy_bootstrap_nav(@pagy)%>

<br>

<%= link_to 'New Sales Associate', new_sales_associate_path %>
