<p id="notice"><%= notice %></p>
<div class="associate">
    
<p>
  <strong>Name:</strong>
  <%= @sales_associate.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @sales_associate.department %>
</p>

<p>
    <strong>Total Sales:</strong>
    <%= number_to_currency @sales_associate.total_sales %>
</p>
</div>

<%= link_to 'Edit', edit_sales_associate_path(@sales_associate) %> |
