<div class="row"> 
    <div class="col-lg-6 info-box">
        <h2>Sales Overview</h2>
        <p>Total Sales for 2019: <span class="text-primary"> <%= number_to_currency @sales_total%></span></p>
        <p>Average Sales for 2019: <span class="text-primary"> <%= number_to_currency @avarage_sales%></span></p>
        <p>Minimum Sale for 2019: <span class="text-primary"> <%= number_to_currency @minimum_sale%></span></p>
        <p>Maximum Sale for 2019: <span class="text-primary"> <%= number_to_currency @maximum_sale%></span></p>
    </div> 
    <div class="col-lg-6 info-box">
        <h2>Associate of the Year</h2>
        <p>Congratulations to <%= link_to @highest_earner.name, @highest_earner %> for the highest sales numbers for 2019! </p>
    </div>
</div>
<div class="charts">
    </br>
    <%= column_chart charts_sales_by_month_path,
        xtitle: "Month(s)",
        ytitle: "Sales($)",
     title: "Sales per Month"
    %>
    </br>
    <%= column_chart charts_sales_by_associate_path,
     xtitle: "Associate(s)",
     ytitle: "Sales($)",
     title: "Total Sales by Associate "
    %>

    <!------------- average chart ---------------->
    </br>
    <%= column_chart charts_avg_sales_by_associate_path,
     xtitle: "Associate(s)",
     ytitle: "Sales($)",
     title: "Average Sales by Associate "
    %>
    <!------------- minimum chart ---------------->
    </br>
    <%= column_chart charts_min_sale_by_associate_path,
     xtitle: "Associate(s)",
     ytitle: "Sale($)",
     title: "Minimum Sale by Associate "
    %>
    <!------------- maximum chart ---------------->
    </br>
    <%= column_chart charts_max_sale_by_associate_path,
     xtitle: "Associate(s)",
     ytitle: "Sale($)",
     title: "Maximum Sale by Associate "
    %>
    <!-------------------------------------------->

    <!------------- revenue chart ---------------->
    </br>
    <%= column_chart charts_revenue_by_quarter_path,
     xtitle: "Quarter(s)",
     ytitle: "Sales($)",
     title:  "Revenue per Quarter"
    %>
    <!-------------------------------------------->
</div>


