<p id="notice"><%= notice %></p>

<h1>Sales</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Sale Date</th>
      <th>Sales Associate</th>
      <th class="datatable-nosort">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td class="right-align"><%= number_to_currency(sale.amount) %></td>
        <td class="right-align"><%= sale.sale_date.to_formatted_s(:long) %></td>
        <td class="center-align"><%= link_to sale.sales_associate.name, sale.sales_associate %></td>
        <td>
          <div class="table-cell-container">
            <div><%= link_to 'Details', sale %></div>
            <div><%= link_to 'Edit', edit_sale_path(sale) %></div>
            <div><%= link_to 'Delete Sale', sale, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          <div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%==pagy_bootstrap_nav(@pagy)%>

<br>

<%= link_to 'New Sale', new_sale_path %>
